.addNewButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.container {
    display: flex;
    padding: 80px 0;
}

.rightArea {
    padding: 0 40px;
    width: 100%;
    margin: 0 0 0 300px;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}